<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Приложение для управления базой данных животных</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">
  <!---Шапка--->
    <div id="header">
      <div id="welcome">
	      <h1>Приют питомцев</h1>
	    </div>
	    <!--Меню-->
      <div id="menubar">
        <ul id="menu">
          <li><a href="index.html">Главная</a></li>
          <li><a href="catalog.html">Животные</a></li>
          <li><a href="add_animal.html">Добавить</a></li>
          <li class="current"><a href="contact.html">Контакты</a></li>
        </ul>
      </div>
      <!--Конец меню-->
    </div>
  <!--Конец шапки-->
	
  <!---Контент--->
  <div id="site_content">
    <!---Текст--->
    <div id="text_content">
      <h1>Страница обратной связи</h1>
      <div>
        <!-- Heading Text  -->
        <div class="contact-text">
          <h3>Контактные данные</h3>
        </div>
        <div class="address-text">
          <p><span>Address:</span> Russia, Red Square, 1</p>
        </div>
        <div class="phone-text">
          <p><span>Phone:</span> +X-xxx-xxx-1111</p>
        </div>
        <div class="email-text">
          <p><span>Email:</span> xxxxx@xxxxx.com</p>
        </div>
      </div>
      <div class="contact-text">
        <h3>Напишите нам</h3>
      </div>
      <div class="col-md-6">
        <!-- Form Start-->
        <div class="contact_from">
          <form action="#" method="post">
            <!-- Message Input Area Start -->
            <div class="contact_input_area">
              <div class="row">
                <!-- Single Input Area Start -->
                <div class="col-md-12">
                  <div class="form-group">
                      <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                  </div>
                </div>
                <!-- Single Input Area Start -->
                <div class="col-md-12">
                  <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                  </div>
                </div>
                <!-- Single Input Area Start -->
                <div class="col-12">
                  <div class="form-group">
                      <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                  </div>
                </div>
                <!-- Single Input Area Start -->
                <div class="col-12">
                  <button type="submit" class="btn submit-btn">Send Now</button>
                </div>
              </div>
            </div>
            <!-- Message Input Area End -->
          </form>
          </div>
      </div>
      <div class="contact-text">
        <h3>Соцсети</h3>
      </div>
      <div class="footer-social-icon">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="active fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
    </div>
    <!---Конец текст--->
  <!---Слайдер--->
    <ul class="slideshow">
      <li class="show"><img width="500" height="450" src="images/1.jpg" alt="Описание картинки" /></li>
      <li><a href="buy.html"><img width="500" height="450" src="images/2.jpg" alt="Размер картинки 500х450 px" /></a></li>
      <li><a href="buy.html"><img width="500" height="450" src="images/3.jpg" alt="Описание картинки" /></a></li>
      <li><a href="buy.html"><img width="500" height="450" src="images/4.jpg" alt="Размер картинки 500х450 px" /></a></li>
    </ul>
  <!---Конец слайдер--->
  </div>
<!--Конец контент-->
</div>
  
<div id="footer">
  <!---Подвал--->
  <div id="footer_container">
    <div class="footer_container_box">
      <h4 align="center">Блок левый</h4>
      <p>Дополнительное описание</p>
      <a href="#">Подробнее</a>
    </div>
    <div class="footer_container_box">
      <h4 align="center">Блок средний</h4>
      <p>Дополнительное описание</p>
      <a href="#">Подробнее</a>
    </div>
    <div class="footer_container_boxl">
      <h4 align="center">Блок правый</h4>
      <p>Дополнительное описание</p>
      <a href="#">Подробнее</a>
    </div>
  <br style="clear:both" />
  <br />
  <a href="#">Приют питомцев</a> | <a href="#">API</a> | <a href="#">Контакты</a>
  </div>
  <!---Конец подвал--->
</div>
  
</body>
</html>
