{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block menu %}
<ul id="menu">
  <li><a href="/">{% trans "Главная" %}</a></li>
  <li><a href="/catalog">{% trans "Животные" %}</a></li>
  {% if request.user.is_authenticated %}
  <li><a href="/add_pet">{% trans "Добавить" %}</a></li>
  {% endif %}
  <li class="current"><a href="/contacts">{% trans "Контакты" %}</a></li>
</ul>
{% endblock menu %}
	
{% block content %}
  <div id="text_content">
      <h2>{% trans "Страница обратной связи" %}</h2>
      <div class="contact-text">
        <h3>{% trans "Контактные данные" %}</h3>

        <div class="address-text">
          <p><span>{% trans "Адрес:" %}</span>{% trans "Russia, Red Square, 1" %}</p>
        </div>
        <div class="phone-text">
          <p><span>{% trans "Тел.:" %}</span> +X-xxx-xxx-1111</p>
        </div>
        <div class="email-text">
          <p><span>{% trans "Email:" %}</span> test@mail.ru</p>
        </div>
      </div>
      <div class="contact-text">
        <h3>{% trans "Напишите нам" %}</h3>
          <div class="contact_from">
            <form class="form_settings" action="/contacts/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input  class="form_input" type="text" name="name" required="" id="id_name" placeholder="{% trans 'Имя' %}">
              <input class="form_input" type="email" name="from_email" required="" id="id_from_email" placeholder="{% trans 'Email' %}">
              <textarea class="form_t_area" name="message" cols="40" rows="10" required="" id="id_message" placeholder="{% trans 'Сообщение' %}"></textarea>
              <button class="btn" type="submit">{% trans "Отправить" %}</button>
            </form>
          </div>
      </div>
      <div class="contact-text">
        <h3>{% trans "Соцсети" %}</h3>
        <a class="social-link" href="https://vk.com/28kulikov">
          <img src="{% static 'images/svg/VK.svg' %}">
        </a>
        <a class="social-link" href="https://t.me/kulikov_av">
          <img src="{% static 'images/svg/Tg.svg' %}">
        </a>
        <a class="social-link" href="#">
          <img src="{% static 'images/svg/Whatsapp.svg' %}">
        </a>
      </div>
   </div>
{% endblock content %}