{% extends "base.html" %}
{% load i18n %}

{% block menu %}
<ul id="menu">
  <li><a href="/">{% trans "Главная" %}</a></li>
  <li><a href="/catalog">{% trans "Животные" %}</a></li>
  {% if request.user.is_authenticated %}
  <li class="current"><a href="/add_pet">{% trans "Добавить" %}</a></li>
  {% endif %}
  <li><a href="/contacts">{% trans "Контакты" %}</a></li>
</ul>
{% endblock menu %}

{% block content %}
<div id="text_content">
  <h2>{% trans "Добавить питомца" %}</h2>
    <form method="post" action="/add_pet" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{% trans "Кличка" %} - {{ pet_form.name }}</p>
      <p>{% trans "Тип" %} - {{ pet_form.type }}</p>
      <p>{% trans "Возраст" %} - {{ pet_form.age }}</p>
      <p>{% trans "Дата прибытия" %} - {{ pet_form.date_from }}</p>
      <p>{% trans "Вес" %} - {{ pet_form.weight }}</p>
      <p>{% trans "Рост" %} - {{ pet_form.growth }}</p>
      <p>{% trans "Особые приметы" %} - {{ pet_form.special_signs }}</p>
      <p>{% trans "Фото" %} - {{ file_form.file }}</p>
      <button class="btn" type="submit">{% trans "Добавить" %}</button>
    </form>
</div>
{% endblock content %}