{% extends "base.html" %}
{% load i18n %}

{% block menu %}
<ul id="menu">
  <li><a href="/">Главная</a></li>
  <li><a href="/catalog">Животные</a></li>
  {% if request.user.is_authenticated %}
  <li class="current"><a href="/add_pet">Добавить</a></li>
  {% endif %}
  <li><a href="/contacts">Контакты</a></li>
</ul>
{% endblock menu %}

{% block content %}
<div id="text_content">
  <h2>Добавить питомца</h2>
    <form method="post" action="/add_pet" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Кличка - {{ pet_form.name }}</p>
      <p>Тип - {{ pet_form.type }}</p>
      <p>Возраст - {{ pet_form.age }}</p>
      <p>Дата прибытия - {{ pet_form.date_from }}</p>
      <p>Вес - {{ pet_form.weight }}</p>
      <p>Рост - {{ pet_form.growth }}</p>
      <p>Особые приметы - {{ pet_form.special_signs }}</p>
      <button class="btn" type="submit">Добавить</button>
    </form>
</div>
{% endblock content %}