{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block menu %}
<ul id="menu">
  <li><a href="/">{% trans "Главная" %}</a></li>
  <li class="current"><a href="/catalog">{% trans "Животные" %}</a></li>
  {% if request.user.is_authenticated %}
  <li><a href="/add_pet">{% trans "Добавить" %}</a></li>
  {% endif %}
  <li><a href="/contacts">{% trans "Контакты" %}</a></li>
</ul>
{% endblock menu %}

{% block content %}
<div id="text_content">
<h2>{% trans "Карточка животного" %}</h2>
<div class="pet_card pet_card_detail">
  <img class="pet_card_img" src="/media/{{ pet.file.file }}">
  <p>{{ pet.name }}</p>
  <p>{{ pet.special_signs }}</p>
</div>
{% if request.user.is_superuser %}
<button class="btn"><a href="{{ pet.id }}/update_pet">{% trans "Редактировать" %}</a></button>
<button class="btn"><a href="{{ pet.id }}/delete">{% trans "Удалить" %}</a></button>
{% elif request.user.is_authenticated %}
<button class="btn"><a href="{{ pet.id }}/update_pet">{% trans "Редактировать" %}</a></button>
{% endif %}

</div>
{% endblock content %}