<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Приложение для управления базой данных животных</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">
  <!---Шапка--->
    <div id="header">
      <div id="welcome">
        <h1>Приют питомцев</h1>
      </div>
	  <!--Меню-->
    <div id="menubar">
      <ul id="menu">
        <li><a href="index.html">Главная</a></li>
        <li class="current"><a href="catalog.html">Животные</a></li>
        <li><a href="add_animal.html">Добавить</a></li>
        <li><a href="contact.html">Контакты</a></li>
      </ul>
    </div>
    <!--Конец меню-->
  </div>
  <!--Конец шапки-->
  <!---Контент--->
  <div id="site_content">
    <!---Текст--->
    <div id="text_content">
      <h1>Каталог животных</h1>
      <div id="catalog">
        <ul id="catalog__menu">
          <li><a href="cats.html">Коты и кошки</a></li>
          <li><a href="dogs.html">Собаки</a></li>
        </ul>
      </div>
    </div>
    <!---Конец текст--->
    <!---Слайдер--->
      <ul class="slideshow">
        <li class="show"><img width="500" height="450" src="images/1.jpg" alt="Описание картинки" /></li>
        <li><a href="buy.html"><img width="500" height="450" src="images/2.jpg" alt="Размер картинки 500х450 px" /></a></li>
        <li><a href="buy.html"><img width="500" height="450" src="images/3.jpg" alt="Описание картинки" /></a></li>
        <li><a href="buy.html"><img width="500" height="450" src="images/4.jpg" alt="Размер картинки 500х450 px" /></a></li>
      </ul>
    <!---Конец слайдер--->
  </div>
  <!--Конец контент-->
  </div>
  
<div id="footer">
<!---Подвал--->
  <div id="footer_container">
    <div class="footer_container_box">
      <h4 align="center">Блок левый</h4>
      <p>Дополнительное описание</p>
      <a href="#">Подробнее</a>
    </div>
    <div class="footer_container_box">
      <h4 align="center">Блок средний</h4>
      <p>Дополнительное описание</p>
      <a href="#">Подробнее</a>
    </div>
    <div class="footer_container_boxl">
      <h4 align="center">Блок правый</h4>
      <p>Дополнительное описание</p>
      <a href="#">Подробнее</a>
    </div>
    <br style="clear:both" />
    <br />
    <a href="#">Приют питомцев</a> | <a href="#">API</a> | <a href="#">Контакты</a>
  </div>
<!---Конец подвал--->
</div>  
  
</body>
</html>
